@CHARSET "ISO-8859-1";
table{
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline
}
	
table.data { width: 100%; border: 0; margin-bottom: 2em; border-collapse: collapse;  }
table.data td { vertical-align: top; }

table.data tbody tr td { background: #FFF; border-bottom: 1px dotted #DDD;text-align:center}

table.data th { padding: 10px 0; }
table.data tbody td { padding: 10px; }

table.data tr.even td { background: #F9F9F9; }


table.data{
	border: 1px solid #222222;	
	margin-bottom: 2em;
}
table .display{
    border-collapse: collapse;
    clear: both;
    margin: 0 auto;
    width: 100%;
	padding: 0;	
}

table.display thead tr {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
}

table.data thead th {
    background-color: #222222;
    border: medium none;
    color: #CCCCCC;
}

table.display thead th {
    cursor: pointer;
    font-weight: bold;
	text-transform: capitalize;
}

table.data thead th {
    border: 1px solid #222222;
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
	text-transform: capitalize;
}

table.data tbody tr:nth-child(2n) td {
    background-color: #333333;
}

table.data tbody tr:nth-child(2n+1) td {
    background-color: #3C3C3C;
}


table.data tbody tr td {
    border-bottom-color: #333333;
}

table.data tbody td {
    padding: 10px;
}

table.data td {
    vertical-align: top;
}

.approved {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.pending {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.rejected {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.offline {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.online {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.spy {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.no-spy {
	height:20px;
	width:20px;
	margin: 0 auto;
}
.edit {
	height:20px;
	width:20px;
	margin: 0 auto;
}

div.docs{
	width:450px;
	margin:10px auto 0;
}


