/* font-family: 'FuturaLTBookBold'; */
/* font-family: 'FuturaLTBookRegular'; */
@import url('fonts/futura/stylesheet.css');


body{
    font-family: 'FuturaLTBookRegular';
    font-size: 12px;
}

#fancychat{
  float: left;
  margin-left: 10px;
}


.chatCt{
  position:relative;
}

.chatCtAll{
  width:100%;
  display:block;
}


#chat_menu{
   height:40px;
   margin:10px 25px;   
}
#chat_box{
   width: 360px;   
   float:left;
}

#chat{
   height:270px;
   width:335px;
   padding:15px 10px;
}

.chatCt hr{
   border: 0px;
   border-top: 1px solid #444444;
   height: 1px;
}

.chatCtAll .chatCt{
   float: left;
    padding: 10px 20px;
}



.chatCtAll .note{
   margin: 0px;
   font-weight: bold;
   font-size: 13px;
}

.chatRow label,
.chatRow span{
   font-weight: bold;
   color: #FFBDE5;
   margin: 0px 3px;
}

.chatRow{
   line-height: 25px;
   display: block;
   clear:both;
   /* wrap long urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}

#main #fancyChatContent>span,
#main #fancyChatContent>div {
    position: relative;
    top: 322px;
}

#fancyChatContent>span,
#fancyChatContent>div {
    position: relative;
    top: 461px;
}

.chatRow label{
   color: #fff;
}

.chatCtAll .chatSendMessageBtn{
   padding: 0px !important;
}

.chatList {
  float:right;
  padding: 10px 20px;
  margin:0px 0px 10px;
  width:90px;
  border-left: 1px solid #59595A;
  height:100%;
}

.chatCtAll p.title{
    height: 26px;
    color:#fff;
    font-size: 1.3em;
    margin:0px;
}

.chatCtAll .chatList{
  color:#fff;
}

.chatCtAll .chatList ul{
  margin:0px;
  padding:0px;
}

.chatCtAll .chatList ul li{
   list-style: none outside none;
    margin: 0 0 0 8px;
    padding: 0;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
}


.action.chatSendMessageBtn a {
  background: rgb(185,68,130); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(185,68,130,1) 0%, rgba(178,18,78,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,68,130,1)), color-stop(100%,rgba(178,18,78,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b94482', endColorstr='#b2124e',GradientType=0 ); /* IE6-9 */
  border: medium none;
    border-top:1px solid #C4729E;
    border-left:1px solid #C4729E;
     -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  padding: 3px 30px;
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
  color: #F4DDDE;
  position: relative;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'FuturaLTBookBold';
  margin: 0 0 0 10px;
  text-decoration:none;
}

#myChatBox{
    background: -moz-linear-gradient(center top , #9D9D9D 0%, #FFFFFF 13%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 2px;
    color: #AEAEAE;
    display: inline-block;
    font-family: 'FuturaLTBookRegular';
    font-size: 14px;
    height: 24px;
    line-height: 27px;
    padding: 0 5px;
    position: relative;
    vertical-align: top;
}

#fancyChatContent{
  overflow: hidden;
  overflow-y:auto;
  display:block;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word; /* IE 5+ */
  height: 480px;
}

.chatTools{
  margin-bottom: 5px;
}

.chatTools #fc_font_size_plus,
.chatTools #fc_font_size_minus,
.chatTools #fc_font_color,
.chatTools #fc_icons,
.chatTools #fc_autoscroll{
  float:left;
  position: relative;
  margin:2px;
  cursor: pointer;
}

.chatTools div.fc_all_icons{
  display:none;
  width: 300px;
  position: absolute;
  top:-137px;
}

.chatTools #fc_autoscroll{
  padding: 6px 0 0;
  cursor: pointer;
  color: #fff;
}

.chatTools #fc_font_size_plus,
.chatTools #fc_font_size_minus,
.chatTools #fc_font_color{
   background: rgb(185,68,130); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(185,68,130,1) 0%, rgba(178,18,78,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,68,130,1)), color-stop(100%,rgba(178,18,78,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(185,68,130,1) 0%,rgba(178,18,78,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b94482', endColorstr='#b2124e',GradientType=0 ); /* IE6-9 */
    border: medium none;
    border-top:1px solid #C4729E;
    border-left:1px solid #C4729E;
     -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#moreColors{
  display:none;
  position: absolute;
  width:100px;
  top: -75px;
}


#moreColors,
#moreEmoticons{
    background: rgb(39,39,43); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(39,39,43,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,39,43,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27272b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  padding: 5px;
  border: 1px solid #28282D;
  border-top: 1px solid #606066;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius:  3px;
  box-shadow: 0px 0px 7px #D161C0;
  -moz-box-shadow: 0px 0px 7px #D161C0;
  -webkit-box-shadow: 0px 0px 7px #D161C0;
}

#moreColors span{
  display: inline-block;
  width:15px;
  height: 15px;
  margin: 2px;
}




/* ########### CHAT COLORS ###############*/
.chatRow label.broadcaster {
  color: #D870C6;
}


/* ###################################*/

.items_block{
    background: rgb(39,39,43); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(39,39,43,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,39,43,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(39,39,43,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27272b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding: 15px 0 0;
    margin: 0 0 10px;
    border-top: 1px solid #424246;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:  3px;
}

.clear{
  clear:both;
}

#chat_status{
  background: none repeat scroll 0 0 #000000;
  color: #EB96D3;
  font-family: 'FuturaLTBookBold';
  font-size: 1.2em;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index:2;
}

#main #chat_status{
  background: #262629;
  padding: 6px 0 6px 20px;
}