/* 
    Document   : ie7_fix
    Created on : Mar 20, 2012, 9:47:37 AM
    Author     : CagunA
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#main #big_menu{
	width:588px;
}

object.videolist {
    border: 3px solid #420406;
    display: block;
    padding: 2px;
    position: relative;
}

object.delete{
    border:none;
    position: absolute;
}