/* 
    Document   : messenger
    Created on : Mar 25, 2012, 10:21:48 PM
    Author     : CagunA
    Description:
        Messenger style
*/

root { 
    display: block;
}

#messenger {
	display:block;
	margin:auto;
	height: 600px;
	width: 960px;
	font-family: Tahoma;
}



#messenger .loading{
	width:100%;
	text-align:center;
	margin-top:300px;
	font-size:23px;
}

#messenger #menu{
	display:block;
	float:left;
	width: 160px;
	height:100%;
	padding-right:10px;
	border-right:1px solid #E8E8E8;
}

#messenger #menu ul, #messenger .list ul{
	width:100%;
	list-style: none;
	margin:0px;
	padding:0px;
}

#messenger #menu ul li{
	margin-top:2px;
	height:40px;
	color:#969696;
	font-size: 14px;
	font-weight: bold;
	background: #EBEBEB;
}


#messenger #menu ul li.selected, #messenger #menu ul li:hover{
	background: #ffffff; /* Old browsers */
	color: #5E5E5E;
}

#messenger #menu ul li div{
	padding:5px 0 0 9px;
	height:40px;
	cursor: pointer;
}

#messenger #menu ul li div span{
	vertical-align: middle;
}

#messenger #menu ul li div span.nr{
	behavior: url(/assets/modena_t4/css/pie/PIE.htc);
	float:right;
	display:block;
	margin-right:5px;
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color:#ffffff;
	text-align:center;
	padding: 3px;
	min-width: 16px;
	border: 1px solid #a2a2a6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background: #aa0505; /* Old browsers */
	background: -moz-linear-gradient(top, #aa0505 0%, #910404 50%, #b50e0e 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa0505), color-stop(50%,#910404), color-stop(99%,#b50e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aa0505 0%,#910404 50%,#b50e0e 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aa0505 0%,#910404 50%,#b50e0e 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #aa0505 0%,#910404 50%,#b50e0e 99%); /* IE10+ */
	background: linear-gradient(top, #aa0505 0%,#910404 50%,#b50e0e 99%); /* W3C */
	-pie-background: linear-gradient(top, #aa0505 0%,#910404 50%,#b50e0e 100%);
}



#messenger #list{
	display:block;
	float:left;
	width: 270px;
	height:100%;
	overflow: hidden;
	border-left:1px solid #B4B4B4;
	border-right:1px solid #E8E8E8;
}

#messenger #list .no_messages{
	display:block;
	width:100%;
	text-align: center;
	margin-top:20px;
}

#messenger #list .viewport { width: 261px; height: 100%; overflow: hidden; position: relative; }
#messenger #list .overview { width:261px; list-style: none; position: absolute; left: 0; top: 0; }
#messenger #list .disable{ display: none; }
					


#messenger #list ul{
	list-style: none;
	margin:0px;
	padding:0px;
}

#messenger #list ul li:nth-child(2n){
	background: #E0E0E0;
}
#messenger #list ul li:nth-child(2n+1){
	background: #EBEBEB;
}
#messenger #list ul li{
	height:140px;
	width:100%;
	border-bottom: 1px solid #B4B4B4;
	box-shadow: #fff 0px 0px 1px;
	cursor: pointer;
	position:relative;
}

#messenger #list ul li.selected{
	background: #fff;
}

#messenger #list ul li div.date{
	float:right;
	margin-top:10px;
	font-size: 10px;
	color: #505052;
	margin-right:10px;
}

#messenger #list ul li div.sender{
	display: block;
	font-size: 14px;
	color:#444;
	padding: 10px 0 0 10px;
	text-shadow: #fff 1px 1px 1px;
}

#messenger #list ul li div.subject{
	display: block;
	font-size: 14px;
	color:#666;
	margin: 10px 0 0 15px;
	text-shadow: #fff 1px 1px 1px;
}

#messenger #list ul li div.message{
	display: block;
	font-size: 11px;
	color:#666;
	margin: 10px 10px 0 15px;
	width: 230px;
	height:40px;
}
#messenger #list ul li div.delete{
	display: block;
	width:16px;
	height:16px;
	margin: 10px;
	cursor:pointer;
	position:absolute;
	bottom:0px;
	right:0px;
}


#messenger #list ul li.unread div.sender{
	color:#444;
	font-weight: bold;
}




#messenger #mail{
	display:block;
	float:left;		
	width: 500px;
	height:100%;
	overflow: hidden;
	border-left:1px solid #B4B4B4;
}

#messenger #mail .viewport { width: 491px; height: 100%; overflow: hidden; position: relative; }
#messenger #mail .overview { width:491px; list-style: none; position: absolute; left: 0; top: 0; }

#messenger .scrollbar { position: relative; float: right; width: 9px;  }
#messenger .track { height: 100%; width:7px; position: relative; padding: 0 1px; }
#messenger .thumb { 
	behavior: url(/assets/modena_t4/css/pie/PIE.htc);
	border: medium none #000000;
    -webkit-border-radius:10px;
    -moz-border-radius:  10px;
    border-radius: 10px;
	background: #888888;
	height: 20px;
	width: 7px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0; 
}
#messenger #mail .disable{ display: none; }

#messenger #mail .email_content, #messenger #mail .reply{
	background: url(./../images/messenger_box_shadow.png) 10px 0px no-repeat;
	width: 465px;
	min-height: 145px;
	margin: 20px 0px;
	padding: 1px 0px 0 20px;
}

#messenger #mail .email_content .title, #messenger #mail .reply .title{
	border-bottom: 1px solid #999;
	padding: 0 10px;
    width: 430px;
	margin:0px;
}

#messenger #mail .email_content .title h3{
	color:#666;
	font-weight: bold;
	display:inline-block;
	font-size:16px;
}

#messenger #mail .email_content .title .date{
	float:right;
	color: #505052;
	font-size: 12px;
	display:block;
	margin-top:20px;
}


#messenger #mail .email_content .email_body{
	color: #777;
	font-size: 12px;
	width:429px;
	margin-left:0px;
	margin-top:0px;
	padding:10px;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 0px 1px #B4B4B4;
	min-height: 65px;
}



#messenger #mail .reply .title h3{
	color:#757576;
	font-weight: normal;
	font-size:16px;
}

#messenger #mail .reply div.reply_form{
	margin-top:0px;
	margin-left:0px;
	width:429px;
	padding:10px;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 0px 1px #B4B4B4;
}
#messenger #mail .reply .reply_form label{
	color: #6b6b6c;
	font-weight: bold;
	font-size: 12px;
	display: block;
	margin:10px;
}
#messenger #mail .reply .reply_form label span{
	color: #ababab;
	font-weight: normal;
}

#messenger #mail .reply .reply_form label input{
	width: 400px;
}

#messenger #mail .reply .reply_form label textarea{
	width: 410px;
}

#messenger #mail .reply .reply_form .button{
	float:right;
	margin-right:25px;
}

#messenger #mail .reply div#info, #messenger #list ul li div#info {
	position: absolute;
	width:100%;
}

#messenger #mail .reply div#info div, #messenger #list ul li div#info div{
	background: #666666;
	border: 1px solid #666666;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius:  0px 0px 5px 5px;
	border-radius:  0px 0px 5px 5px;
	position:relative;
	display:none;
	margin:0px auto;
	color:#ffffff;
	font-weight: bold;
	padding:3px 10px;
	top:6px;
	width: 150px;
	z-index:20;
	text-align: center;
}

#messenger #list ul li div#info div{
	top:0px;
	width: 200px;
}





.messenger_pagination {
	width:750px;
	margin:auto;
	text-align:right;
	margin-top:5px;
}

.messenger .messenger_right_box {
	width:510px;
	border: 1px solid white;
	border-bottom:0;
	padding:0;
	margin:0;
	display:inline-block;
	overflow:hidden;
}

.messenger .contact {
	border-bottom: 1px solid white;
}

.messenger .messenger_left_box {
	width:200px;
	margin-right:10px;
	display:inline-block;
	float:left;
}

.messenger .messenger_left_box ul.menu{
	width:100%;
	list-style: none;
	margin:0px;
	padding:0px;
}
.messenger .messenger_left_box ul.menu li{
	height:30px;
}

.messenger .messenger_left_box ul.menu li.inbox div{
	background: url(./../images/inbox.png) no-repeat 5px 5px transparent;
	padding:14px 0 0 47px;
}

.messenger .messenger_menu_item {
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	color:black;
	background-color:#e0e0e0;
	padding:8px;
	border-bottom:1px solid gray;
	display:block;
}

.messenger .messenger_menu_item:hover {
	color:#fff;
	background-color:#868686;
}

.messenger .messenger_message_item {
	font-size:14px;
	font-style:normal;
	background-color:#e0e0e0;
	padding:9px;
	border-bottom:1px solid gray;
	display:block;
}


.messenger .messenger_message_item:hover {
	background-color:#eeeeee;
}

.messenger .selected {
	background-color:#ffffff;
}

.message_username {
	display:block;
	font-size:13px;
	color:black;
}

.message_date {
	display:block;
	color:gray;
	font-size:12px;
}

.user_date_container {
	display:inline-block;
	width:20%;
	text-align:center;
}

.messenger .subject {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:black;
}

.messenger .message {
	display:block;
	color:#808080;
	font-size:12px;
}

.messenger .reposition
{
	color: black;
    left: 72px;
    position: relative;
    top: 5px;
}

.subject_message_container {
	padding-left:20px;
	display:inline-block;
	width:67%;
	text-align:left;
}

.delete_container {
	padding:0 0 0 10px;
	display:inline-block;
	position:relative;
	top:-4px;
}

.messenger .narrow_label {
	width:70px;
}

.messenger .move_top_narrow_label {
	width:70px;
	position:relative;
	top:-172px;
}

.messenger .move_top_narrow_label span {
	color:black;
}

.messenger .narrow_label span {
	color:black;
}

.messenger #message {
	width:340px;
	height:180px;
	resize:none;
}

.messenger #subject {
	width:338px;
	text-align:jusity;
}

.messenger #from {
	width:338px;
	text-align:jusity;
}