#pagination{
	width:auto;
	float:right;
}

#pagination .paginationPage,
#pagination .paginationDirection,
#pagination a.previous_link,
#pagination a.page_link,
#pagination a.next_link{
	float:left;
	
}
#pagination .paginationPage a,
#pagination .paginationDirection a,
#pagination .paginationPage.selected,
#pagination a.previous_link,
#pagination a.page_link,
#pagination a.next_link{
	behavior: url(/assets/modena_t4/css/pie/PIE.htc);
	border: 1px solid #BEBEBE;
    -webkit-border-radius: 3px;
    -moz-border-radius:  3px;
    border-radius:  3px;
	padding:3px 7px;
	margin-left:5px;
	background: #C7C7C7; /* Old browsers */
	color: #696969;
	display:block;
	position: relative;
}
#pagination .paginationPage a:hover,
#pagination .paginationDirection a:hover,
#pagination a.previous_link:hover,
#pagination a.page_link:hover,
#pagination a.next_link:hover{
	behavior: url(/assets/modena_t4/css/pie/PIE.htc);
	background: #DFDFDF; /* Old browsers */
	color:#696969;
	border: 1px solid #fff;
}


#pagination .paginationPage.selected, 
#pagination .active_page{
	font-weight: bold;
	color: #505069;
}
#pagination a.previous_link,
#pagination a.next_link,
#pagination .directionRight a,
#pagination .directionLeft a{
	display: block;
    font-size: 16px;
    line-height: 3px;
    padding: 7px 7px 11px;
}