/* 
    Document   : icons
    Created on : Mar 11, 2012, 8:10:33 PM
    Author     : CagunA
    Description:
        Icons style.
*/

.icon{
	background-image: url(../images/images_set.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: medium none;
	display: inline-block;
	width:16px;
	height: 16px;
}
.icon.approved{background-position: -226px -178px;}
.icon.pending{ background-position: -256px -178px;}
.icon.rejected{ background-position: -241px -178px;}
.icon.edit_box{ background-position: -332px -36px}
.icon.red_left_arrow{ background-position: -226px -194px; width:20px; height: 20px;	cursor: pointer;}
.icon.on{ background-position: -20px -198px; height: 19px; width: 19px;}
.icon.off{ background-position: -20px -179px; height: 19px; width: 19px;}
.icon.hd{ background-position: -369px -52px; height: 20px; width: 40px;}
.icon.dark_gray_up_arrow{ background-position: -249px -195px; height: 21px; width: 21px;}
.icon.dark_gray_down_arrow{ background-position: -249px -216px;	height: 21px; width: 21px;}
.icon.lock{ background-position: -227px -217px; height: 20px; width: 20px;}
.icon.guide{ background-position: -43px -221px; height: 28px; width: 32px;}
.icon.statement{ background-position: -77px -223px; height: 16px; width: 22px;}
.icon.settings{ background-position: -118px -222px; height: 22px; width: 22px;}
.icon.messenger{ background-position: -139px -221px; height: 22px; width: 22px;}
.icon.logout{ background-position: -98px -222px; height: 22px; width: 22px;}
.icon.filter_arrow_down{ background-position: 0 -198px; height: 18px; width: 18px;}
.icon.filter_arrow_up{ background-position: 0 -179px; height: 18px; width: 18px;}
.icon.filter_remove{ background-position: -41px -179px;}
.icon.filter_add{ background-position: -41px -197px;}
.icon.success{ background-position: -274px -194px;position: relative;top: 3px;}
.icon.error{ background-position: -274px -178px;}
.icon.qq-upload-delete{ background-position: -291px -147px;}
.icon.download_red{ background-position: -348px -36px;}
.icon.spy{ background-position: -292px -197px;}
.icon.no_spy{ background-position: -292px -182px;}
.icon.trash{ background-position: -315px -73px;}
.icon.pencil{ background-position: -276px -213px;}
.icon.pencil_box{ background-position: -331px -36px;}
.icon.avatar{ background-position: -314px -53px;}
.icon.messenger_sent{ background-position: -381px -1px; width:22px; height: 22px;}
.icon.messenger_inbox{ background-position: -403px -1px; width:22px; height: 22px;}
.icon.messenger_trash{ background-position: -426px -1px; width:22px; height: 22px;}
.icon.info{ background-position: -314px -38px; width: 14px; height: 15px;}
.icon.green_dot{ background-position: -163px -223px; width: 18px; height: 18px;}
.icon.gray_dot{ background-position: -180px -223px; width: 18px; height: 18px;}
.icon.confirm_yes{ background-position: -347px -2px; width: 30px; height: 31px;}
.icon.confirm_no{ background-position:  -315px -2px; width: 30px; height: 31px;}
.icon.online{ background-position: -160px -220px; height: 20px; width: 20px;}
.icon.offline{ background-position: -180px -220px; height: 20px; width: 20px;}

/* adaugate pt modena T5 */
.icon-statements{
	background-image: url(../images/icon-statements.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	width:16px;
	height: 16px;
}