/* 
    Document   : ie7_fix
    Created on : Mar 20, 2012, 9:47:37 AM
    Author     : Gabriel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#main #big_menu .item{
	float: left;
}

#main #big_menu{
	width:575px;
}


#main .girl_box .buttons button {
	padding:5px;
}