.center{
  text-align: center;
}
.shadow{
  box-shadow: -7px 7px 22px -2px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;
}
.shadowv2{
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;
}
.shadowv3{
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;
}
.black{
  color: #000;
}
.bold{
  font-weight: bold;
}
.margintopzero{
  margin-top: 0 !important;
}
.marginbotttomzero{
  margin-bottom: 0 !important;
}
.fg_book {
    font-family: 'FranklinGothicMedium';
}
a.decoration-none{
  text-decoration: none;
}
.yellow-button{
  color: #000;
  background-color: #ffce38;
  padding: 5px 25px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.yellow-button:hover{
  background-color: #fdbf04;
}
.yellow{
  color: #ffd451;
}
.white{
  color: #fff;
}
.f-right{
  float: right;
}
.f-left{
  float: left;
}
.s-margin{
  margin: 10px 5px 10px 20px;
}
.paddingzero{
  padding: 0 !important;
}
.border-div{
  float: left;
  height: 30px;
  margin: -5px 0;
  width: 2px;
  background: #000;
}
a.w-nav-brand img{
  height: 30px;
  margin: 10px 0;
}
.m5-main-header {
  background-color: #131313;
  color: #000;
}

.m5-secondary-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3f3f3f;
  box-shadow: 0 1px 22px -2px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;
}
.m5-secondary-header form.m5-search-form {
  margin-bottom: 0;
}
.box-nav-content .menu{
  float: right;
  max-width: 337px;
}
.navbar {
  background-color: #131313;
  color: #fff;
}
.boxlogin{
  margin: 10px 0 10px 0;
}

.login-navbar{
  color: #ffd451;
  text-align: left;
  background-color: #272727;
  padding: 5px 10px 5px 0;
}
.login-navbar .welcome-txt{
  margin-left: 10px;
}
.login-navbar a.message{
  float: right;
  color: #fff;
  text-decoration: none;
}

.logout-navbar{
  text-align: right;
}

.m5-main-nav {
  color: #fff;
  float: right;
  margin: 5px 0;
  position: relative;
  width: 450px;
}

.fl_l{
  float: left;
}
.credits{
  text-align: center;
}
.fl_l .menu_item{
  float: left;
  /* line-height: 15px; */
  padding: 5px;
  /* width: 283px; */
  height: 30px
}
.fl_l .menu_item span{
  font-size: 11px;
  color: #999;
  vertical-align: top;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.fl_l .menu_item a:hover span, .fl_l .menu_item a:hover i{
  color: #fff;
}

.fl_l .menu_item a{
  text-decoration: none;
}

.fl_l .menu_item a i {
  font-size: 16px;
  color: #999;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.m5-nav-link {
  color: #fff;
}

.m5-nav-link.m5-emphasize-link {
  color: #ffce38;
}

.m5-secondary-nav {
  margin-top: 10px;
  padding-left: 0px;
  list-style-type: none;
}

.m5-sec-link {
  display: inline-block;
  padding-right: 15px;
  float: left;
}

.m5-search-input {
  width: 300px;
  margin-bottom: 0px;
  float: left;
  border-style: none;
  background-color: #505050;
  color: #fff;
}

.submit-button {
  display: block;
  float: left;
    -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.submit-button:hover{
  background-color: #0e5ea4;
}

.m5-search-form {
  float: right;
}

.m5-body {
  background-color: #272727;
}

.m5-link {
  color: #fff;
  text-decoration: none;
}

.m5-link.m5-dim-link {
  display: inline;
  padding-top: 5px;
  float: right;
  color: #b4b4b4;
  line-height: 20px;
}

.form-block {
  margin-bottom: 0px;
}

.row {
  display: block;
  float: none;
}

.m5-videos-container {
  padding-top: 0px;
}

.div-block {
  width: 33%;
}

.div-block.m5-single-video {
  width: 32%;
  margin-right: 1%;
  float: left;
}

.m5-video-image {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.m5-video-img {
  width: 100%;
  height: auto;
}

.m5-single-video {
  position: relative;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 10px;
  float: left;
  box-shadow: 0 1px 22px -2px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.m5-single-video:hover {
  box-shadow: 0 1px 29px 4px rgba(0, 0, 0, .53);
}

.image {
  margin-top: 13px;
}

.m5-video-details {
  padding: 10px 15px;
  background-color: #3f3f3f;
  position: relative;
}

.m5-video-details.m5-gallery-video-details {
  margin-bottom: 20px;
  padding: 4px 8px;
  background-color: #0e0e0e;
}

.m5-details-name {
  width: 100%;
  clear: none;
}

.m5-details-actions {
  width: 50%;
  height: auto;
  margin-top: 10px;
  float: right;
}

.m5-performer-name {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
  text-align: left;
}

.m5-performer-name:hover {
  text-decoration: underline;
}

.m5-video-action-list {
  margin-bottom: 0px;
  padding-left: 0px;
  float: right;
  list-style-type: none;
}

.m5-video-action-item {
  margin-left: 5px;
  float: right;
}

.m5-image-link {
  width: 100%;
  height: auto;
  position: relative;
}

.m5-live-badge {
  position: absolute;
  left: -3px;
  top: 10px;
  display: inline-block;
  padding: 5px 10px;
  float: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f8b508;
  color: #333;
  -webkit-box-shadow: -4px 5px 9px 1px rgba(33,27,14,1);
  -moz-box-shadow: -4px 5px 9px 1px rgba(33,27,14,1);
  box-shadow: -4px 5px 9px 1px rgba(33,27,14,1);
}
.m5-live-badge-live {
  position: absolute;
  right: 0px;
  top: 10px;
  display: inline-block;
  padding: 5px 10px;
  float: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f8b508;
  color: #333;
}

.m5-live-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.m5-container {
  padding-top: 20px;
}

.tab-link.w--current {
  background-color: #1b1b1b;
  color: #fff;
}

.tab-link.m5-tab-link-simple {
  background-color: #3f3f3f;
}

.tab-link-2 {
  background-color: #3f3f3f;
}

.tab-link-3 {
  background-color: #3f3f3f;
}

.text-block {
  color: #8d8d8d;
}

.tab-pane {
  border-style: none;
  background-color: #1b1b1b;
}

.m5-tab-content {
  padding: 15px;
}

.m5-top-profile-bar {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom-style: none;
  border-bottom-color: #2e2e2e;
}

.heading {
  display: inline-block;
}

.heading.m5-perf-name {
  display: inline;
  float: none;
  color: #fff;
}

.heading.m5-perf-name.m5-page-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.m5-profile-box {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-top: 1px solid #303030;
}

.m5-label-profile {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffce38;
  text-transform: uppercase;
}

.m5-right-align-info {
  width: 50%;
  padding-right: 10px;
  float: left;
  text-align: left;
}

.m5-left-align-info {
  width: 50%;
  float: right;
}

.unordered-list {
  padding-left: 0px;
}

.m5-info-label-small {
  color: #757575;
}

.unordered-list-2 {
  padding-left: 0px;
}

.m5-info-text {
  color: #fff;
}

.m5-profile-info-item {
  margin-bottom: 3px;
}

.m5-main-text {
  color: #c3c3c3;
}

.div-block-2 {
  font-size: 14px;
}

.m5-tab-content-actual {
  background-color: #1b1b1b;
}

.m5-tab-link-simple {
  margin-right: 1px;
  background-color: #494949;
  color: #999;
}

.m5-tab-link-simple.w--current {
  margin-right: 1px;
  background-color: #1b1b1b;
  color: #fff;
}

.m5-sm-link-profile {
  width: 100%;
  margin-bottom: 3px;
}

.m5-sm-text {
  display: inline-block;
  margin-top: 0px;
  padding-top: 2px;
  padding-left: 10px;
  color: #fff;
  line-height: 14px;
}

.m5-social-media-box {
  padding-left: 10px;
}

.m5-perf-image {
  margin-bottom: 20px;
}

.m5-video-date {
  display: inline;
  color: #fff;
  font-size: 12px;
}

.m5-video-dur {
  display: inline;
  float: right;
  color: #888;
  font-size: 12px;
  text-align: right;
}

.m5-title {
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.m5-subtitle {
  margin-top: 0px;
  color: #9b9b9b;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.m5-panel {
  margin-top: 40px;
  padding: 20px 30px 30px;
  border-top: 3px solid #ffce38;
  border-radius: 6px;
  background-color: #1b1b1b;
  text-align: center;
}
.m5-panel-gray {
  margin-top: 40px;
  padding: 10px 5px 10px;
  border-radius: 0px;
  background-color: #2d2d2d;
  text-align: justify;
}

.m5-panel-heading {
  color: #979797;
  font-weight: 400;
  text-align: center;
}

.m5-signup-form {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.m5-input {
  margin-bottom: 20px;
  border-style: none;
  background-color: #505050;
  color: #fff;
}
.m5-textarea{
  background-color: #505050;
  border: 0;
  color: #fff;
}
.m5-form-label {
  display: inline;
  float: left;
  color: #dfdfdf;
  text-align: left;
}

.m5-form-label.m5-forgot-pass {
  float: right;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  /* top: 0; */
  bottom: -30px;
  right: 0;
}
.m5-forgot-pass a{
  color: #dfdfdf;
}
a.forgot_password, a.f13{
  color: #dfdfdf;
}
.submit-button-2 {
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: normal;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.submit-button-2:hover {
  background-color: #0e5ea4;
}
.checkbox-field {
  display: inline-block;
}

.checkbox-field.m5-agree {
  margin-top: 20px;
}

.m5-agree-text {
  color: #868686;
}
.m5-agree-text a{
  color: #868686;
}

.m5-button-yellow {
  padding: 5px 30px;
  background-color: #ffce38;
  color: #111;
  font-weight: bold;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.m5-button-yellow:hover {
  background-color: #fdbf04;
}
.m5-coins {
  margin-bottom: 0px;
  color: #cacaca;
  line-height: 38px;
}

.m5-coins-text {
  margin-top: 5px;
  color: #505050;
  font-size: 20px;
  font-weight: 400;
}

.m5-price {
  margin-bottom: 20px;
  color: #949494;
  font-weight: 400;
}

.m5-pricebox-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m5-pricebox-container .price-bonus{
  color: #fff;
  margin: 0px 0px 20px 0;
}

.price-panel{
  padding: 0;
}
.price-panel .m5-pricepack{
  padding: 30px 0;
  border-right: 1px solid #3f3f3f;
}
.price-panel .m5-pricepack:last-child{
  border-right: 0;
}
.price-panel .best-value{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffce38;
  width: 100%;
  padding: 10px 0;
  color: #000;
  font-weight: bold;
}

.title{
  padding: 20px 0;
  color: #ffce38;
  font-size: 18px;
}
.titlev2{
  text-align: center;
  font-size: 25px;
  padding: 40px 0;
  margin: 0;
  color: #ffce38;
}
.m5-single-video:nth-child(3n + 1){
  /* margin-right: 0px; */
}
.title_bar{
  margin-right: 18px;
}
.no_results{
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 30px 0;
}
.footer{
  text-align: center;
  background: #131313;
  width: 100%;
  position: relative;
  bottom: 0;
  box-shadow: 0 1px 22px -2px rgba(0, 0, 0, .36);
  -webkit-transition: box-shadow 200ms ease;

}
.footer .fl_1{
  padding: 50px 0px 30px;
  text-decoration: none;
  color: #d2d2d2;
  margin: auto;
  max-width: 650px;
}
.footer .fl_1 .links{
  padding-bottom: 30px;
}
.footer .fl_1 .links a{
  text-decoration: none;
  color: #fff;
}
.footer .fl_2{
  padding-bottom: 50px ;
  color: #d2d2d2;
  text-decoration: none;
}
.bara-dreapta{
  padding: 0 10px;
  color: #4a4a4a;
}
.clear{
  clear: both;
}
.col-md-3{
  width: 33%;
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

@media (max-width: 800px) {
  .col-md-3{
    width: 45%;
  }

}

@media (max-width: 600px) {
  .col-md-3{
    width: 90%;
  }

}


.girl_box{
  padding: 10px 15px;
  background-color: #3f3f3f;
  position: relative;
}
.free, .nude, .private, .peek{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(31, 30, 30, 0.43);
    color: #fff;
    padding: 5px 0;
    font-size: 15px;
}
.buttons .profile {
  display: none;
}
#profile .menu .menu_item{
  float: left;
  padding: 10px;
}
#profile .menu .menu_item a{
  color: #fff;
}
#chat_info span{
  color: #fff;
}
.profile-icon{
  display: block;
  z-index: 999;
  float: left;
}
.performer_list, .performer-random, .private-performer, .free-video-section{
  text-align: left;
}
.performer-buttons{
  position: relative;
  float: right;
}
.performer-buttons a{
  text-decoration: none;
}
.rounded-icon{
  background: #747474;
  border-radius: 50%;
  padding: 5px 8px;
  color: #fff;
}
.card-box{
    box-shadow: 0 1px 22px -2px rgba(0, 0, 0, .36);
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
}
.card-box:hover{
  box-shadow: 0 1px 29px 4px rgba(0, 0, 0, .53);
}
.datepicker{
  background: #afafaf;
  border: 0;
  padding: 5px;
}
.pay-notice{
  padding-top: 90px;
}
.status{
  display: block;
  text-align: center;
  font-size: 20px;
}
.error-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
}
.success-alert{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
}
.success-alert p, .error-alert p{
  margin: 0;
}
.relativ{
  position: relative;
}
/***************************************************************/
/*********************   MODAL   ******************************/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #272727;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 940px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.close:hover,
.close:focus {
    color: #c03737;
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/***************************************************************/
/*********************  END MODAL   ******************************/

/***************************************************************/
/*********************  VIDEOS   ******************************/
.video{
  float: left;
  text-align: center;
  width: 25%;
  position: relative;
  padding-bottom: 5px;
}

.video .video_length{
  display: block;
  float: right;
  text-align: right;
  padding-right: 15px;
}
.video .nickname{
  float: left;
  display: block;
}
.video .nickname a{
  color: #fff;
  text-decoration: none;
}
.videos .m5-panel{
  padding: 20px 10px 30px;
  margin-top: 15px;
}
.videos .search{
  width: 100%;
  text-align:right;
  margin-right:10px;
}
.videos .search a{
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}
.video .title{
  position: absolute;
  padding: 0;
  top: 15px;
  right: 15px;
}

.video .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.video .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.video .title:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/***************************************************************/
/*********************  END VIDEOS   ******************************/


.input-fix{
  margin-bottom: 10px;
}

.input-fix .m5-input{
  margin-bottom: 10px;
}

.input-fix p, .input-fix span {
  text-align: center;
  color: #fff;
}

.error-input{
  color: #fff;
}
.contact .m5-panel{
  margin-top: 0;
}
.contact .m5-textarea{
  color: #fff;
}
.contact .m5-panel span{
  color: #fff;
}

.payvideo{
  background-color: #272727;
  padding: 40px;
  color: #fff;
}
.payvideo form{
  margin-top: 20px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 20rem;
  min-height: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


/***************************************************************/
/*********************   RATING   ******************************/

.ui-stars-star,
.ui-stars-cancel {
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.ui-stars-star a,
.ui-stars-cancel a {
  width: 21px;
  height: 17px;
  display: block;
  background: url(./../images/images_set.png) no-repeat;
}
.ui-stars-star a {
  background-position: -289px -40px;
}
.ui-stars-star-on a {
  /*background-position: -289px -89px;*/
 background-position: -289px -64px;

}
.ui-stars-star-hover a {
  background-position: -289px -64px;
}
.ui-stars-cancel-hover a {
  background-position: -289px -16px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
  cursor: default !important;
}

.review_item{
  margin:10px 0px;
}

.review_item h3{
  display: inline-block;
  width:265px;
  text-align: right;
  margin:0px 10px 0px 0px;
  padding: 0px;
  vertical-align: top;
  font-family: Tahoma;
  color:#ACA8AC;
}

.review_item .stars{
  display: inline-block;
  width:200px;
}

.review_item .stars input{
  display:none;
}


.m5-details-name .rate .stars {
    float: left;
    height: 20px;
    width: 100px;
  /*    margin-left: -5px;
      padding-top: 5px;*/
}

.m5-details-name .rate span {
    display: inline-block;
    float: right;
    padding-top: 4px;
    text-align: right;
}
.rating-value{
  float: left;
  padding-left: 5px;
  color: #fff;
}



/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.0rem;
    padding: .1rem .1rem;
    margin: 0;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
.rate-selected{
  color: #ffce38;;
}



/***************************************************************/
/*********************   SCHEDULE   ******************************/

#schedule_content {
  padding: 10px 0px 30px 0px;
}

#schedule_content span{
  margin:0px auto;
  text-align:center;
  display: block;
  width:100%;
}

#schedule_content #schedule td {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  text-align: center;
  color: #666;
}
#schedule_content #schedule td.day,
#schedule_content #schedule td.head_hour{
  border:medium none;
}
#schedule_content #schedule td.head_hour{
  font-size: 9px;
}

#schedule_content #schedule td.selected {
  background: #ffce38; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

}

/***************************************************************/
/*********************  PERFORMER  *****************************/
/***************************************************************/

.login-navbar .logout a{
  color: #fff;
  text-decoration: none;
}
.logo-performer{
  margin: 5px;
}
.datepickerStart, .datepickerEnd{
  background-color: #505050;
  color: #fff;
}
#statistics_buttons button{
  margin: 0px 5px;
  padding: 6px 10px;
}
.performer-menu{
  margin-top: 50px;
}
.performer-menu .w-tab-linkv2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #494949;
}
.performer-menu .selected{
  background-color: #2d2d2d;
}
.performer-menu .w-tab-linkv2 a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.m5-tab-content-actualv2{
  background-color: #2d2d2d;
  padding: 0 20px 20px 20px;
}
.m5-tab-content-actualv2 div{
  margin-bottom: 20px;
}
.performers-details-titles{
  padding: 20px 0 0 20px;
  text-align: center;
}
.performers-details-titles h4{
  margin-bottom: 0;
}
.performers-details-titles p{
  margin-bottom: 30px;
}
.m5-inputv2{
  margin-bottom: 10px;
  border-style: none;
  background-color: #505050;
  color: #fff;
}
.m5-form-labelv2{
  display: inline;
  color: #dfdfdf;
  text-align: left;
}
.performer-personal-details #country{
  width: 100%;
  padding: 10px;
  background-color: #505050;
  margin-bottom: 10px;
  border: 0;
  color: #fff;
}
.payment_form{
  max-width: 50%;
}
.m-t-2{
  margin-top: -2px;
}
.select-input{
  max-width: 100%;
  padding: 10px;
  background-color: #505050;
  margin-bottom: 10px;
  border: 0;
  color: #fff;
  margin-right: 5px;
}

.go-online .performers-details-titles h4{
  margin: 50px 0 0 30px;
}
.go-online .performers-details-titles p{
  color: #a1a1a1;
  margin: 0 0 20px 30px;
  font-size: 12px;
}
.go-online .left-online-section, .go-online .right-online-section{
  margin-top: 0;
}
.go-online .left-online-section{
  width: 49%;
  float: left;
  margin: auto;
}
.go-online .right-online-section{
  width: 49%;
  float: right;
  margin: auto;
}
.second-title-go-online{
  margin-bottom: 20px;
  width: 100%;
}
.second-title-go-online h4{
  margin-bottom: 0;
}
.second-title-go-online p{
  text-transform: uppercase;
  color: #a1a1a1;
  margin-bottom: 20px;
  font-size: 12px;
}
.left-online-section .content-txt, .right-online-section .content-txt{
  margin-left: 10%;
}
.left-online-section .content-txt div, .right-online-section .content-txt div{
  font-size: 12px;
}
.left-online-section button{
  margin: 30px auto 50px auto;
}
.right-online-section button {
  margin: 30px auto 30px auto;
}
.content-txt a{
  color: #fff;
}
.border-black{
  width: 70px;
  border: 1px solid #1e1e1e;
  margin: auto;
}
.go-online-list .content-txt{
    margin: 30px;
  }

.go-online-list div{
    font-size: 12px;
  }
.earnings td{
  color: #000;
}
.earnings form{
  float: right;
  margin-bottom: 20px;
}
.payments td{
  color: #000;
}
.contracts-performer td, .photoid-performer td{
  color: #000;
}
.delete-button{
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: normal;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 9px 15px;
  background-color: #818384;
  color: white;
  border: 0;
}
.delete-button:hover{
  background-color: red;
}
.edit-photos .delete-button{
    float: right;
}
.edit-photos .submit-button-2 {
  float: left;
}
.title-statistics{
  position: absolute;
  left: 20px;
}
.title-statistics h4{
  margin-bottom: 0;
}
.dots-list{
  position: relative;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  /*left: 49%;*/
  /*margin-top: 50px;*/
}
.dots-list .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-top: 5px;
  background: #444444;
  float: left;
  margin: 5px;
}
.dots-list .circle-select{
  background: #e0e0e0;
}
.col-md-6{
  width: 50%;
  float: left;
  padding: 10px;
}
.price-info-input{
  position: absolute;
  right: 0;
  top: 0px;
}
.padding50{
  padding: 50px 0;
}
/***************************************************************/
/*********************  AFFILIATES  *****************************/
/***************************************************************/

.affiliate-personal-details #country{
  width: 100%;
  padding: 10px;
  background-color: #505050;
  margin-bottom: 10px;
  border: 0;
  color: #fff;
}
/***************************************************************/
/*********************  STUDIOS    *****************************/
/***************************************************************/

.studio-earning .data-earn{
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 999;
}




/***************************************************************/
/*********************  PAGINATION    *****************************/
/***************************************************************/

.paginationPage a, .directionRight a, .directionLeft a{
  text-decoration: none;
  height: 28px;
  text-align: center;
}
.directionRight a, .directionLeft a{
  padding-top: 10px !important;
}




/***************************************************************/
/*********************  ROOM    *****************************/
/***************************************************************/

.m5-panel-room{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.nodeco{
  text-decoration: none !important;
  cursor: pointer;
}
.room-buttons{
  float: right; 
  margin-top: 20px; 
  margin-right: 10px;
}

.room-infobox{
  width: 100%;
  background-color: #000;
  vertical-align: middle;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
}
.yellow-info{
  color:#ffce38;
}



/***************************************************************/
/*********************  REVIEW    *****************************/
/***************************************************************/

.review_item h3{
  font-size: 20px;
}


/***************************************************************/
/*********************  PERFORMER SIGNUP    *****************************/
/***************************************************************/


.typeItDesc, .drawItDesc {
  border-top: 0px !important;
}

span.download_red{
  float: left;
  margin-left: 10px;
}
span.m5-form-label{
  font-style: normal !important;
}

input.error, select.error{
  background-color: #693636;
}

span#upload-photo_id{
  margin-left: 40px !important;
}
div.ui-widget-shadow{
  opacity: 0.9 !important;
}

#day, #month, #year{
  padding: 10px;
}




/***************************************************************/
/*********************  PERFORMER GO ONLINE    *****************************/
/***************************************************************/

.go-online-container{
  margin-bottom: 40px;
}



/***************************************************************/
/*********************  STUDIO REGISTER    *****************************/
/***************************************************************/

div#contracts{
  text-align: left !important;
}
#upload-contract{
  margin-left: 0px !important;
}
.terms-link-label{
  color: #999 !important;
  text-decoration: none;
}
a.studio_signup_download_contract{
  color: #999;
}
.studio_signup_terms{
  margin-top: 15px;/*
  padding-top: 5px !important;*/
}

/***************************************************************/
/*********************  STUDIO EARNINGS    *****************************/
/***************************************************************/

.data-earn{
  float: right;
}
.fl_r{
  /*margin: 20px;*/
}
.qq-upload-list li{
  margin-bottom: 10px !important;
}