
table{
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline
}
	
table.data { width: 100%; border: 0; margin-bottom: 2em; border-collapse: collapse;  }
table.data td { vertical-align: top; }

table.data th { padding: 10px 0; }
table.data tbody td { padding: 10px; }


table.data{
	border: medium none #C2C2C2;
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
}
table .display{
    border-collapse: collapse;
    clear: both;
    margin: 0 auto;
    width: 100%;
	padding: 0;	
}

table.display thead tr th{
  background: #3f3f3f;
  color: #fff;
}

table.display thead th {
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}

table.data thead th {
	border: medium none;
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

table.data tbody tr{
	border-bottom:1px solid #d6d6d6;
}

table.data tbody tr.even:hover, table.data tbody tr.odd:hover{
	background-color: #DADADA;
}


 
 table.data tbody tr:nth-child(2n) {
    background-color: #ebebeb;
}
table.data tbody tr.odd {
    background-color: #ebebeb;
}

table.data tbody tr:nth-child(2n+1){
	background-color: #e0e0e0;
}

table.data tbody tr.even {
    background-color: #c5c5c5;
}


table.data tbody td {
    padding: 10px;
	text-align: center;
}

table.data td {
    vertical-align: top;
}

.edit {
    background: url(../images/pencil.png) no-repeat center;
	height:20px;
	width:20px;
	margin: 0 auto;
}

div.docs{
	width:450px;
	margin:10px auto 0;
}


