/* Quickie Reset */
*, html, html body div *{    
    margin: 0;     
    padding: 0; 
}

/* Minimum height on body helps preventDefault */
body {	
    min-height: 316px;	
    
    background: #ba1313; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ba1313 0%, #360303 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ba1313), color-stop(100%,#360303)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ba1313 0%,#360303 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ba1313 0%,#360303 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ba1313 0%,#360303 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ba1313 0%,#360303 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba1313', endColorstr='#360303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
     
     	
    background-image: url('../images/bg.png'), -webkit-gradient(radial, center center, 0, center center, 460, from(#ba1313), to(#360303));    
    background-image: url('../images/bg.png'), -webkit-radial-gradient(circle, #ba1313, #360303);   
    background-image: linear-gradient(bottom, rgb(54,3,3) 48%, rgb(186,19,19) 100%);
     
    background-attachment:fixed;
}
#navbar-panel{
    background-color: #363b39;
    z-index: 100;
    padding-top: 40px;
    padding-bottom: 100px;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
/**/
div[data-role="page"]{
    padding-top: 50px;
    padding-bottom: 60px;
}
/*TITLE BAR*/
.title-bar{
    width: 100%;
    height: 50px;
    line-height: 50px;
    
    background: #535050; /* Old browsers */
    background: -moz-linear-gradient(top,  #535050 0%, #060202 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#535050), color-stop(100%,#060202)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #535050 0%,#060202 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #535050 0%,#060202 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #535050 0%,#060202 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #535050 0%,#060202 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535050', endColorstr='#060202',GradientType=0 ); /* IE6-9 */

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#535050), to(#060202));
    background: -webkit-linear-gradient(top, #535050, #060202);
}

.title-bar .red-arrow{
    width:  34px;
    height: 34px;
    display: inline-block;
    background: url('../images/red-arrow.png');
    background-size: 100%;
    margin:8px 0px 0px 5px;
}

.title-bar .menu-icon{
    width:  34px;
    height: 34px;
    display: inline-block;
    background: url('../images/menu-icon.png');
    background-size: 100%;
    margin: 8px 10px 0 0;
}
.title-bar h1.title{
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0;
    font-size: 2.1em;
}
.title-bar h2.title{
    display: inline-block;
    margin-left: .3em;
    font-size: 2.1em;
}
/*END TITLE BAR*/
/*HEADER NAVBAR*/
.slidemenu span{
    display: inline-block;
    height: 49px;
    float: left;
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    background: transparent no-repeat center;
    background-size: 100%;
}
.slidemenu span.performers-icon{
    background-image: url('../images/navbar-left-icons/allperformers-icon.png');
    background-size: 90%;
}
.slidemenu span.performers-on-icon{
    background-image: url('../images/navbar-left-icons/performers-icon.png');
    background-size: 90%;
}
.slidemenu span.videos-icon{
    background-image: url('../images/navbar-left-icons/videos-icon.png');
}
.slidemenu span.chips-icon{
    background-image: url('../images/navbar-left-icons/orderchips-icon.png');
}
.slidemenu span.logout-icon{
    background-image: url('../images/navbar-left-icons/logout-icon.png');
}
.slidemenu span.favorites-icon{
    background-image: url('../images/navbar-left-icons/favorites-icon.png');
}
.slidemenu span.statements-icon{
    background-image: url('../images/navbar-left-icons/statements-icon.png');
}
.slidemenu span.settings-icon{
    background-image: url('../images/navbar-left-icons/settings-icon.png');
}
.slidemenu span.payments-icon{
    background-image: url('../images/navbar-left-icons/payments-icon.png');
}

/*END HEADER NAVBAR*/
/*FOOTER SLIDER*/
#footer {
   width:100%;   
   display: block;
   background: #363b39;
   overflow: visible;  
   -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .8);
   z-index: 200;
   position: fixed; 
   bottom: 0px;
   
   min-height: 30px;
 }
 
 #footer .slider-content{
   margin-top: 15px; 
   display: none;
 }
 #footer .slider-content.account{
     padding: 10px;
 }
 #footer .slider-content.account p{
     font-size: 2em;     
 }
.slide-button {
    display: block;
    width: 40px;
    height: 38px;
    margin: -20px auto 0 auto;
    background: url('../images/slide-down.png');
    background-size: 100%;
}

.slide-button.isDown{
    background: url('../images/slide-up.png');
    background-size: 100%;
}
/*END FOOTER SLIDER*/
/*FOOTER NAVBAR*/
.slider-content ul.navbar{	
    width: 100%;	
    margin: 0 auto;	
    color: #FFF;	
}

.slider-content ul.navbar li{
    font-size: 22px;
    line-height: 35px;

    background: url('../images/navbar-bg.png') repeat-x;
}

.slider-content ul.navbar li a{	
    margin-left: 10px;	
    line-height: 35px;
    color: #FFF;	
    text-decoration: none;
}
.slider-content ul.navbar li a:after{	
    clear: both;
}

.male-icon, .document-icon, .heart-icon, .envelope-icon, .power-icon{	
    display: inline-block;	
    height: 18px;	
    width: 17px;	
    margin-right: 10px;	
}

.male-icon{	
    background: url('../images/red-icons/male-icon.png');
}

.document-icon{	
    background: url('../images/red-icons/document-icon.png');
}

.heart-icon{	
    background: url('../images/red-icons/heart-icon.png');
}

.envelope-icon{	
    background: url('../images/red-icons/envelope-icon.png');
}
.power-icon{	
    background: url('../images/red-icons/power-icon.png');
}
.number-icon{	
    float: right;	
    background: #da2b2b;	
    margin-right: 20px;	
    margin-top: 4px;		
    height: 30px;	
    line-height: 30px;	
    width: 36px;	
    display: block;	
    text-align: center;		
    -webkit-border-radius: 36px;
}
/*END FOOTER NAVBAR*/



/*SEARCH BAR*/
.search_bar{
    margin: 5px 15px;
    color: #666;
}
.search_outer{
    position: relative;
   // width: 185px;
    //float: left;
}
.search_outer .ui-input-search a{
    display: none;
}
.search_outer .ui-input-search{
    padding: 0 5px;
}

.search_bar .search_outer .ui-field-contain {
    margin: 0;
    padding: 0;
    text-align: center;
}
div.search_bar .search_outer .ui-field-contain .ui-input-search{
   // width: 80px;
    display: inline-block;
    padding: 0 5px 0 0;
}
div.search_bar .search_outer .ui-field-contain .ui-input-search input{
    font-size: 18px ;
    padding: 0 0px 0 5px;  
}
div.search_bar .search_outer .ui-field-contain .ui-btn{
    margin-top: -3px;
}
div.search_bar .search_outer .ui-field-contain .ui-btn span{
    font-size: 18px ;
    padding: 0 5px;  
}
div.search_bar .search_outer .ui-br{
    border: 0 none;
}
.sort_outer{
    position: relative;
    height: 20px;
    //width: 100px;
    float: right;
    margin-top: -4px;
}
.search_bar .sort_outer .ui-btn-inner{
    font-size: 18px;
    
    padding: 0 20px 0 5px ;
    text-align: left;
}
.search_bar .sort_outer .ui-btn-inner .ui-btn-text span{
    display: inline-block;
    float: left;
}
/*END SEARCH BAR*/

/*PERFORMER BOX*/
.performer_box{
    /*width: 140px;*/
    /*height: 175px;*/
    padding: 5px;
    background-color:  rgba(255, 190, 190, .4);
    font-size: .7em;
    color: #FFF;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.performer_box .status-flag{
    width: 10px;
    height: 10px;
    
    position: absolute;
    top: 10px;
    left: 10px;
    
    border-radius: 10px;
    background-color: #419200;
    
    border: #EEE 2px solid;
    box-shadow: 0 1px 1px #000;  
    -webkit-box-shadow: 0 1px 1px #000;
}
.performer_box img{
    margin:0;
    padding:0;
    width: 140px;
    height: 107px;
}
.performer_box a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 70px;
    height: 40px;
    float: left;
    margin:0;
    padding: 0;
    line-height: 40px;
    font-size: 1.25em;
}
.performer_box .buttons{
    position: relative;
    top: -4px;
}
.performer_box .chat-button{
    background: linear-gradient(#E52323 50%, #A81616 50%);
    background: -webkit-linear-gradient(#E52323 50%, #A81616 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E52323), color-stop(50%, #E52323), color-stop(50%, #A81616), color-stop(100%, #A81616));
}

.performer_box .profile-button{
    background-color: #363b39;
    background: linear-gradient(#767676 50%, #363b39 50%);
    background: -webkit-linear-gradient(#767676 50%, #363b39 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767676), color-stop(50%, #555252), color-stop(50%, #363b39), color-stop(100%, #363b39));
}

.performer_box a .chat-icon,.performer_box a .profile-icon{
    width: 32px;
    height: 28px; 
    display: none;
    float: left;  
    margin: 6px 1px 0 0;
}

.performer_box a span.title{
    width: 100%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
}

.performer_box div.information{
    text-align: center;
    font-size: 2.5em;
    margin-top: -4px;
}

/*END PERFORMER BOX*/

/*PACKAGE BOX*/
.package_box{
    width: 300px;
    margin: 10px auto; 
}

.package_box .header{
    width: 100%;
    height: 45px;
    
    background: linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E02727), color-stop(50%, #C51C1C), color-stop(50%, #a91111), color-stop(100%, #a91111));
    
    line-height: 45px;
}

.package_box .title{
    font-size: 1.6em;
}
.package_box .title span{
    margin-left: 10px;
    padding: 5px 15px;
    background: linear-gradient(#919191 50%, #3c3b3b 50%);
    background: -webkit-linear-gradient(#919191 50%, #3c3b3b 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(50%, #676767), color-stop(50%, #3c3b3b), color-stop(100%, #3c3b3b)); 
}

.package_box .price{
    font-size: 1.6em;
    margin-right: 6px;
}
.package_box .triangle-left {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #eb5b5b transparent transparent;
}
.package_box .triangle-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #eb5b5b transparent transparent transparent;
}

.package_box .information{
    font-size: 1.4em;
    width: 280px;
    
    background: linear-gradient(#F7F7F7 0%, #CDCDCD 50%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#CDCDCD));
    background: -webkit-linear-gradient(top, #F7F7F7, #CDCDCD);
}
.package_box .information ul li{
    color: #666;
    margin: 0;
    height: 22px;
    line-height: 22px;
    padding-left: 25px;
    list-style-type: none;
    margin-left: 5px;
    background: url('../images/package-icon.png') no-repeat center left;
}

.package_box .information input[type='submit']{
    width: 160px;
    height: 30px;
    display: block;
    margin: 10px auto;
    
    border: 0 none;
    outline: 0 none;
    cursor: pointer;  
    
    background: linear-gradient(#FD3232 50%, #C41B1B 50%);
    background: -webkit-linear-gradient(#FD3232 50%, #C41B1B 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FD3232), color-stop(50%, #E52828), color-stop(50%, #C41B1B), color-stop(100%, #C41B1B));  
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    
    font-size: 1.2em;
}
/*END PACKAGE BOX*/

/*PERFORMER PROFILE*/
.performer_profile img.profile-image{
    width: 300px;
    height: 188px;
    
    display: block;
    margin:  10px auto;
}

.performer_profile .about-me{
    width: 100%;
    background-color: rgba(0, 0,0, .3);
    padding-bottom: 10px;
}
.performer_profile .about-me .inner{
    width: 300px;
    margin: 0 auto;
}
.performer_profile .about-me .title{
    font-size: 1.8em;
}
.performer_profile .about-me .title span:nth-child(2){
    margin-left: .3em;
}
.performer_profile .about-me .text{
    font-size: 1.4em;
    line-height: 1.3em;
}

.performer_profile .profile-information{
    width: 100%;
    margin: 10px auto 0 auto;
}
.performer_profile .profile-information li{
    width: 100%;
    border-bottom: #3c0606 1px solid;
}
.performer_profile .profile-information li .group{
    width: 300px;
    margin:0 auto;
}
.performer_profile .profile-information li span.item{
    font-size: 1.6em;
    float:  right;
}
.performer_profile .profile-information li span.item.bold{
    float: left;
}
.performer_profile .navbar-tabs-holder{
    height: 40px;
    width: 100%;
    background-color: #393b3a;
    overflow: hidden;
    text-align: center;
    
    font-size: 1.5em;
}
.performer_profile ul.profile-tabs{
    margin: 0 auto;
    padding: 0;
}
.performer_profile ul.profile-tabs li{
    height: 40px;
    line-height: 40px;
    display: inline-block;    
    
    border-right: 1px solid #848887;
    -webkit-box-shadow: 1px 0 0 0 #000;
    -moz-box-shadow: 1px 0 0 #000;
    box-shadow: 1px 0 0 0 #000;
    
    
    padding: 0 5px 0 5px;
    margin: 0 0 0 -2px;     
    
}
.performer_profile ul.profile-tabs li:last-child{
    border: 0 none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
.performer_profile ul.profile-tabs li.active, .performer_profile ul.profile-tabs li:hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#df1b1b), to(#B41515));
    background: -webkit-linear-gradient(top, #df1b1b, #B41515); 
    background-size: 100%;
}
.performer_profile ul.profile-tabs li a{
    text-decoration: none;
}
.performer_profile ul.profile-tabs .profile-icon,
.performer_profile ul.profile-tabs .photos-icon,
.performer_profile ul.profile-tabs .videos-icon,
.performer_profile ul.profile-tabs .schedule-icon {
    width: 32px;
    height: 28px;
    margin: 5px 5px 0 0;
    display: block;
    float: left;
}
.performer_profile ul.profile-tabs .profile-icon{
    background: transparent url('../images/female-user-icon.png') left center no-repeat; 
    background-size: 100%;
}
.performer_profile ul.profile-tabs li:hover .profile-icon,
.performer_profile ul.profile-tabs li.active .profile-icon{
    background: transparent url('../images/female-user-active-icon.png') left center no-repeat; 
    background-size: 100%;
}

.performer_profile ul.profile-tabs .photos-icon{
    background: transparent url('../images/photos-icon.png') left center no-repeat; 
    background-size: 100%;
}

.performer_profile ul.profile-tabs li:hover .photos-icon,
.performer_profile ul.profile-tabs li.active .photos-icon{
    background: transparent url('../images/photos-active-icon.png') left center no-repeat; 
    background-size: 100%;
}


.performer_profile ul.profile-tabs .videos-icon{
    background: transparent url('../images/videos-icon.png') left center no-repeat; 
    background-size: 100%;
}

.performer_profile ul.profile-tabs li:hover .videos-icon,
.performer_profile ul.profile-tabs li.active .videos-icon{
    background: transparent url('../images/videos-active-icon.png') left center no-repeat; 
    background-size: 100%;
}

.performer_profile ul.profile-tabs .schedule-icon{
    background: transparent url('../images/clock-icon.png') left center no-repeat; 
    background-size: 100%;
}

.performer_profile ul.profile-tabs li:hover .schedule-icon,
.performer_profile ul.profile-tabs li.active .schedule-icon{
    background: transparent url('../images/clock-active-icon.png') left center no-repeat; 
    background-size: 100%;
}
/*END PERFORMER PROFILE*/
/*PERFORMER SCHEDULE*/
.performer_schedule{
    font-size: 1em;
}
/*Schedule BOX*/
.schedule-box{
    width: 300px;
    margin: 10px auto; 
}

.schedule-box .header{
    width: 100%;
    height: 45px;
    
    background: linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E02727), color-stop(50%, #C51C1C), color-stop(50%, #a91111), color-stop(100%, #a91111));
    
    line-height: 45px;
}

.schedule-box .title{
    font-size: 2.4em;
    line-height: 45px;
    
    text-align: center;
}

.schedule-box .triangle-left {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #eb5b5b transparent transparent;
}
.schedule-box .triangle-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #eb5b5b transparent transparent transparent;
}

.schedule-box .information{
    font-size: 1.5em;
    width: 280px;
    
    background: linear-gradient(#F7F7F7 0%, #CDCDCD 50%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#CDCDCD));
    background: -webkit-linear-gradient(top, #F7F7F7, #CDCDCD);
}
.schedule-box .information ul li{
    color: #666;
    margin: 0;
    height: 22px;
    line-height: 22px;
    padding-left: 25px;
    list-style-type: none;
    margin-left: 5px;
    background: url('../images/off-time.png') no-repeat center left;
}
.schedule-box .information ul li.on{
    background: url('../images/on-time.png') no-repeat center left;
}
.schedule-box .ui-collapsible-heading{
    margin: 0;
}
.schedule-box .ui-collapsible-heading .ui-btn-up-a{
    border: 0 none;
    background: linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E02727), color-stop(50%, #C51C1C), color-stop(50%, #a91111), color-stop(100%, #a91111));
}

.schedule-box .ui-collapsible-heading .ui-btn-up-a .ui-btn-inner, .schedule-box .ui-collapsible-heading .ui-btn-hover-a .ui-btn-inner{
    padding: 5px 20px 5px 40px;
}
.schedule-box .ui-collapsible-heading .ui-btn-up-a .ui-btn-text, .schedule-box .ui-collapsible-heading .ui-btn-hover-a .ui-btn-text{
    font-size: 1.5em;
}
.schedule-box .ui-collapsible-heading .ui-btn-hover-a{
        border: 0 none;
    background: linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-linear-gradient(#E02727 50%, #a91111 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E02727), color-stop(50%, #C51C1C), color-stop(50%, #a91111), color-stop(100%, #a91111));
}

.schedule-box .ui-collapsible-content {
    padding: 0;
    margin: 0;
}
/*END Schedule BOX*/



/*END PERFORMER SCHEDULE*/
/*PERFORMER'S VIDEOS'*/
.performer_videos h3.ui-collapsible-heading{
    margin: 5px 0;  
}

.performer_videos h3.ui-collapsible-heading a span span{
  font-size: 24px;  
}

.performer_videos h3.ui-collapsible-heading a{
    text-align: center;
}

.performer_videos h3.ui-collapsible-heading a .ui-icon{
    margin-left: 10px;
}
.performer_videos .ui-collapsible-content{
    margin: 0;
    padding: 0;
}
.performer_videos .ui-collapsible-content > .ui-listview{
    margin: 0;
    padding: 0;
}
.video_box{
    display: block;
    width: 140px;
    height: 107px;
    margin: 10px;
    padding: 0;
    
    
}
.video_box img{
    width: 140px;
    height: 107px;
}
#freeVideos, #paidVideos{
	width:98%;
    padding: 0 1% 0 1%;
    background-color: rgba(0, 0, 0, .3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.red-title{
    color: #e21313;
}
/*END PERFORMER'S VIDEOS*/
/*PERFPORMER'S PHOTOS'*/
.performers_photos #largePhotos{
	width:300px;
	height:230px;
    overflow: hidden;
    margin: 0 auto;
}

.performers_photos #largePhotos div.panel{
    width: 300px;
    height: 230px;
    margin: 0 auto;
}
.performers_photos #largePhotos div.panel{
    position: relative;
}
.performers_photos #largePhotos div.panel span{
    position: absolute;
    
    top: 80px;
    width: 26px;
    height: 26px;
    
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;
}
.performers_photos #largePhotos div.panel span.left-arrow{
    left: 5px;
    background-image: url('../images/left-arrow.png');
}
.performers_photos #largePhotos div.panel span.right-arrow{
    right: 5px;
    background-image: url('../images/right-arrow.png');
}
.performers_photos #largePhotos img{
    width: 300px;
    /*height: 230px;*/
}

.performers_photos .smallPhotosWrapper{
    margin: 15px 0 15px 0;
    background-color: rgba(0, 0, 0, .4);
    padding: 10px; 
}
.performers_photos .smallPhotosWrapper .left{
    height: 55px;
}
/*END PERFORMER'S PHOTOS'*/

/*LOGIN*/
.login_panel{
    font-size: 1.3em;
    width: 100%;
}

.login_panel .top-text h1{
    color: #eb3838;
    font-size: 1.6em;
    text-align: center;    
}

.login_panel .top-text h3{
    color: #EEE;
    font-size: 1em;
    text-align: center;    
}

.login_panel .username-form, .login_panel .password-form{
    width: 265px;
    height: 35px;
    border: #C7C3B3 1px solid;
    border-left: 0 none;
    
    margin: 6px auto;
}

.login_panel .username-form input, .login_panel .password-form input{
    width: 235px;
    height: 35px;
    border: 0 none;
    outline: 0 none;
    
    color: #000;
    text-indent: 10px;
    
    font-size: 1.3em;
    
    border-radius: 0;
    -webkit-appearance: none;
    
    background-color: #FFF;
}


.login_panel .username-form .username-icon, .login_panel .password-form  .password-icon, .login_panel .password-form .email-icon, .login_panel .password-form .token-icon{
    height: 35px;
    width: 30px;
    
    display: block;
    float: left;
}
.login_panel .username-form .username-icon{
    background: #FFF url('../images/username-icon.png') no-repeat right center;
    background-size: 100%;
}
.login_panel .password-form .password-icon{
    background: #FFF url('../images/password-icon.png') no-repeat right center;
    background-size: 100%;
}
.login_panel .password-form .email-icon{
    background: #FFF url('../images/email-icon.png') no-repeat right center;
    background-size: 100%;
}
.login_panel .password-form .token-icon{
    background: #FFF url('../images/token-icon.png') no-repeat right center;
    background-size: 100%;
}

.login_panel a.forgot-password{
    text-decoration: none;
    font-size: 1em;
    color: #EEE;
    text-align: right;
    margin: 0 auto 6px auto;
    display: block;
    width: 265px;
}

.login_panel input[type="submit"], .login_panel input[type="button"] {
    width: 265px;
    height: 40px;
    display: block;
    border: 0 none;
    outline: 0 none;
    margin: 0px auto;
    
    background: linear-gradient(#F94F4F 50%, #9F1010 50%);
    background: -webkit-linear-gradient(#F94F4F 50%, #9F1010 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F94F4F), color-stop(50%, #CF3131), color-stop(50%, #9F1010), color-stop(100%, #9F1010));
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    
    
    cursor: pointer;
    font-size: 1.5em;
}

.login_panel .bottom-text{
    width: 265px;
    margin: 6px auto;
}

.login_panel .bottom-text h1{
    color: #646c69;
}

.login_panel .bottom-text h1 span{
    color: #FFF;
}

.login_panel .bottom-text h1 span.red-title{
    color: #e90d0d;
}

.login_panel .bottom-text .sign-up{
    text-decoration: none;
    color: #a8b5b0;    
}
/*END LOGIN*/

/*VIDEOS*/
.video{
    width: 100px;
    height: 100px;
    display: inline-block;
    
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    margin: 10px 0;
}


