/*
Performers list
*/

body{
	background-color: #272727;
	background-image: none;
}

.performers-inner{
	width: 100%;
}
.performer_box{
	/*width: 100%;*/
	/*margin-left: 10px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	/*background-color: rgba(255, 255, 255, .3);*/
	background-color: #3f3f3f;
}
.performer_box img{
	width: 100%;
	height: 100%;
}
.performer_box a{
	width: 50%;
}

.performer_box .buttons a{
	/*top:-44px;*/
	position: absolute;
	width: 100%;
	right: 0px;
	bottom: 0px;
}
.performer_box .chat-button{
	background: none;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    width: 100%;

}
.performer_box .profile-button{
	display: none;
	background: none;
    background-color: rgba(0, 0, 0, .8);;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.perf-profile-button{
	text-align: center;
	width: 100%;
	font-size: 10px ;
}
.performer_box a {
	width: 100%;
	/*font-size: 15px;*/
}
.performer_box a span{
	font-size: 20px;
}
a.perf-profile-button{
	text-decoration: underline;
	color: #999 !important;
}

/*
Chat window
*/

#chat_input_cont{
	background: none;
}
#chat_container{
	background-color: #272727;
}

#popupTip, #popupRequestChat{
	background: #272727;
}

/*
Login window
*/
.login_panel input[type="submit"], .login_panel input[type="button"]{
	background: none;
    background-color: #3898EC;
    color: white;
}

.login_panel .username-form input, .login_panel .password-form input{
	width: 100%;
}
.login_panel a.forgot-password{
	color: #ffce38;
}

/*
Menu
*/
.slidemenu{
	background-color: #333;
	box-shadow: 3px 0px 5px -2px #191212;
}
.slidemenu h3{
	background:none;
	background-color: #171414;
	border-top: 0px #999 solid;
    border-bottom: 0px #999 solid;
    text-align: center;    
    box-shadow: 0px 5px 5px #000;
    margin-bottom: 10px;
}
.slidemenu ul li a:link, .slidemenu ul li a:visited{
	/*border-top: 0px;
	border-bottom: 1px;*/
	border-top: 0px #999 solid;
    border-bottom: 1px #999 solid;
}

.slidemenu ul li{
	float: left;
}

.slidemenu span{
	margin-right: 10px;
}
.slidemenu h3.h3-account{
	margin-top: 20px;	
}
.slidemenu ul li a:hover, .slidemenu ul li a:active{
	background-color: #484848;
}
/*
Order Chips
*/
.package_box .header{
	background: none;
	background-color: #ffce38;
	box-shadow: 0px 5px 5px #000;	
	border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
}
.package_box .triangle-right{
	border-color: #c79600 transparent transparent transparent;	
}
.package_box .triangle-left{
    border-color: transparent #c79600 transparent transparent;
}
.package_box .title span{
	background:none;

}
.package_box .information input[type='submit']{
	background:none;
	background-color: #3898EC;
}
.package_box .title span{
	color:#000;
}
.package_box .price{
	color: #000;
}

/*
Statements + Payments
*/
.statements-total{
	background:none;
	background: rgba(0, 0, 0, .8);
}
table.statements tr {
	line-height: 40px;
}
table.statements tr:nth-child(2n){
    background-color: rgba(0, 0, 0, .4);
}

/*
Change pass
*/
.change-form{
	padding: 20px;
}
.ui-btn{
	background: none;
	background-color: #3898EC;
}

/*
Performer Profile
*/
.performer_profile .profile-information li{
    border-bottom: #fff 0px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 2px #000;
}
.about-me{
    box-shadow: 0px 5px 5px #000;
}
.performer_profile ul.profile-tabs li.active, .performer_profile ul.profile-tabs li:hover{
	background: none;
	background-color: #3898EC;
}

/*
Performer Schedule
*/
.schedule-box .ui-collapsible-heading .ui-btn-up-a{
	background: none;
	background-color: #ffce38;
}

.schedule-box .triangle-right{
	border-color: #c79600 transparent transparent transparent;	
}
.schedule-box .triangle-left{
    border-color: transparent #c79600 transparent transparent;
}
.schedule-box .ui-collapsible-heading .ui-btn-up-a .ui-btn-text, .schedule-box .ui-collapsible-heading .ui-btn-hover-a .ui-btn-text{
	color: #000;
}