/* Demo Styles */
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
.largePhotos-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.largePhotos-container, .swiper-slide {
    width: 300px;
    height: 188px;
}
.panels-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.panels-container, .swiper-slide {
    width: 300px;
    height: 130px;
}
#smallPhotos .pagination {
    height: 20px;
    z-index: 200;
}
#smallPhotos .pagination .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
#smallPhotos .pagination .swiper-visible-switch {
  background: #aaa;
}
#smallPhotos .pagination .swiper-active-switch {
  background: #fff;
}