/* --> Clear <-- */
.clear{clear: both}
.clear-left{clear: left}
.clear-right{clear: right}

/* --> Float <-- */
.left{float: left}
.right{float: right}

.center{margin-left:auto;margin-right: auto}

/* --> Text align <-- */
.left-text {text-align: left}
.right-text {text-align: right}
.center-text {text-align: center}

/* --> Text type <-- */
.bold {font-weight: bold}
.italic {font-style: italic}
.normal {font-style: normal;font-weight: normal}

/*--> Buttons <-- */
html body.ui-mobile-viewport.ui-overlay-c .red-btn {
    display: inline-block;
    width: 160px;
   
    display: block;
    margin: 10px auto;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
    background: linear-gradient(#FD3232 50%, #C41B1B 50%);
    background: -webkit-linear-gradient(#FD3232 50%, #C41B1B 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FD3232), color-stop(50%, #E52828), color-stop(50%, #C41B1B), color-stop(100%, #C41B1B));
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2em;
    
    text-decoration: none;
    color: #FFF;
}
