@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/mp.eot');
    src: url('../fonts/mp.eot') format('embedded-opentype'),
         url('../fonts/mp.woff') format('woff'),
         url('../fonts/mp.ttf') format('truetype'),
         url('../fonts/mp.svg#MyriadProRegular') format('svg');
}
