.slidemenu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background-color: #540707;
	-webkit-box-shadow: 3px 0px 5px -2px #632b2b;
	box-shadow: 3px 0px 5px -2px #632b2b;
	z-index: 2147483647;
	display: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.slidemenu h3{
	font-size:20px;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFF;
	text-shadow: 0 1px 0 #272D39;
	margin:0;
	padding:4px 0 4px 10px;
	background: rgb(67,74,94); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(80,48,48,1) 0%, rgba(48,18,18,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,48,48,1)), color-stop(100%,rgba(48,18,18,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(80,48,48,1) 0%,rgba(48,18,18,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(80,48,48,1) 0%,rgba(48,18,18,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(80,48,48,1) 0%,rgba(48,18,18,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(80,48,48,1) 0%,rgba(48,18,18,1) 100%); /* W3C */
	border-top:solid #813737 1px;
	border-bottom:solid #410202 1px;
}

.slidemenu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}

.slidemenu ul li {
	list-style-type: none;
	margin: 0px 0;
}

.slidemenu ul li a:link, .slidemenu ul li a:visited {
	border-top: 1px #813737 solid;
	border-bottom: 1px #410202 solid;
	color: #DBE0E8;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	width: 230px;
	display: block;
	padding: 10px 0px 10px 10px;
	text-shadow: 0px 1px 1px #212631;
}

.slidemenu ul li img {
	margin-right:8px;
}

.slidemenu ul li a:hover, .slidemenu ul li a:active {
	background-color: #632b2b;
}
		
.ui-icon-smico {
	background-image: url("../img/smico.png") !important;
}

.slidemenu_btn .ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,0);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,0);
	box-shadow: 0 0px 0 rgba(255,255,255,0);
}

.slidemenu_btn .ui-btn-inner {
	border-top: 0px;
}
.slidemenu_btn .ui-icon {
	margin: 4px 1px 2px 2px !important;
	width: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.slidemenu_btn .ui-icon, .ui-icon-searchfield::after {
	background: none;
}

.slidemenu_btn.ui-btn-icon-notext {
	width: 30px;
}