/*Landscape: Iphone*//*Landscape: BlackBerry Torch*//*Landscape: HD2*//*Landscape: HTC Evo*//*Landscape: HTC Thunderbolt*/
.performers-inner {
    width: 650px;
}
.login_panel.signup form{
    display: block;
}
.login_panel.signup .signup_message {
    display: none;
}
@media screen and (max-width: 650px) {
    .performers-inner{
        width: 487px;
    }
}
@media screen and (max-width: 480px) { 
    #footer .slider-content{
        margin-top:0;
    }
    .performer_box{    
        margin: 2px;
    }
    .package_box{

    }
    .order_chips{
        margin-left: 10px;
    }
    .smallPhotosWrapper .left{
        margin: 1px;
    }
}
@media screen and (max-width: 465px){
    .performers-inner{
        width: 320px;
    } 
}
/*Portrate: Iphone*/
@media screen and (max-width: 320px) { 
    #footer .slider-content{
        margin-top:15px;
    }
    div[data-role="page"] .performer_box{    
        margin: 5px 3px 0px 5px;
    }
    div[data-role="page"] .package_box{

    }
    .smallPhotosWrapper #smallPhotos .left{
        margin: 6px;
    }
    .performers-inner{

    }
}

@media screen and (max-height: 480px) {
    .login_panel.signup .signup_message {
        display: none;
    }
    .login_panel.signup form{
        display: block;
    }
}


@media screen and (max-height: 320px) {
    .login_panel.signup .signup_message {
        display: block;
    }
    .login_panel.signup form{
        display: none;
    }
}

